
# Database
DATABASE_URL="mysql://user:password@localhost:3306/database"
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_NAME=""

# Genuka OAuth
GENUKA_URL="https://api-staging.genuka.com"
GENUKA_CLIENT_ID=""
GENUKA_CLIENT_SECRET=""
GENUKA_REDIRECT_URI="http://localhost:3000/api/auth/callback"